<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Check Mail </p>

    <form action='/get_mail' method="POST">
        <div class="form-group">
          <label for="InputEmail">Email address</label>
          <input type="email" required class="form-control" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <input type="submit" class="btn btn-primary"></button>
    </form>

</body>
</html>