<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
        #Send_msg {
            text-decoration: none;
padding: 10px;
border: 2px solid burlywood;
width: 40%;

        }

        #Check_msg {
            float: right;
            padding: 10px   ;
            width: 40%;
            position: relative;
top: 193px;
            text-decoration: none;
            border: 2px solid skyblue;
            
        }
    </style>


</head>

<body>


    <div id="Send_msg">
        <a href="/form_section">Send ANONYMOUS Message</a>
    </div>
    <div id="Check_msg">
        <a href="/get_info/">Check feedbackkk</a>
    </div>


</body>

</html>